#top{width: 100%;height: 105px;border-bottom: 1.5px solid whitesmoke;line-height: 100px;text-align: center;}
#top img{width: 250px;margin-left: 5%;float: left;margin-top: 5px;}
#login{width: 15%;display: inline;float: right;position: relative;right: 5%;font-size: 19px;color: #ffc7f1;font-weight: 700;}
#login label:nth-of-type(1),label:nth-of-type(3){cursor: pointer;}
#usercenter {width: 90%;height: 600px;position: relative;top: 20px;margin: 0 auto;}

#main {border-right: 1px dashed #E0E0E0;position: fixed;}
#main ul {padding: 15px;margin-top: 25px;margin-left: 15px;}
#main ul li {text-indent: 10px;font-size: 15px;text-align: left;height: 50px;line-height: 50px;border-bottom: 1px solid #EEEEEE;}#main ul li:nth-of-type(1) {background-color: rgba(255,199,241,0.65);color: white;}
#main ul li:nth-of-type(1) a {color: white;}
#main ul li:hover{cursor: pointer;}

#title {text-align: center;font-size: 30px;font-weight: bold;}

ul li {list-style-type: none;}
